@import '../../styles/variables';

.input-contaier {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;

    .error {
      color: $caution;
      font-size: 0.7rem;
      margin-bottom: 0;
    }
  }

  input {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    background-color: $dark-theme-bg-secondary;
    border-radius: 0.5rem;
    color: $dark-theme-text-primary;
  }
}


