@import '../src/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: $mobile-font-size-default;
}

html {
  min-width: 300px;
}

button {
  font-family: 'Nunito', sans-serif;
  background-color: transparent;
  border: none;
}

input {
  font-family: 'Nunito', sans-serif;
  color: $light-theme-text-primary;
  border: none;

  &:focus {
    outline: none;
  }

  &.dark-theme {
    color: $dark-theme-text-primary;
    background-color: $dark-theme-bg-secondary;
  }
}

p {
  margin: 0;
}

/* Desktop */
@media screen and (min-width: $breakpoint) {
  * {
    font-size: $desktop-font-size-default;
  }
}